version: "2"

services:
    elasticsearch:
        build:
            context: elasticsearch/
        volumes:
            - ./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
        ports:
            - "9200:9200"
            - "9300:9300"
        environment:
            ES_JAVA_OPTS: "-Xmx1g -Xms1g"
        networks:
            - elk

    logstash:
        build:
            context: logstash/
        volumes:
            - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml:ro
            - ./logstash/pipeline:/usr/share/logstash/pipeline:ro
        ports:
            - "5000:5000"
        environment:
            LS_JAVA_OPTS: "-Xmx1g -Xms1g"
        networks:
            - elk
        depends_on:
            - elasticsearch

    filebeat:
        build:
            context: filebeat/
        command: filebeat -e -d filebeat.yml -d "publish"
        volumes:
            - ./filebeat/config/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
            - ../logs:/usr/share/filebeat/logs
        networks:
            - elk
        depends_on:
            - logstash

    kibana:
        build:
            context: kibana/
        volumes:
            - ./kibana/config/:/usr/share/kibana/config:ro
        ports:
            - "5601:5601"
        networks:
            - elk
        depends_on:
            - elasticsearch

networks:
    elk:
        driver: bridge
