.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: fadein 1s;
  /* overflow-x: hidden; */
}

.title {
  margin-left: 5%;
  width: 90vw;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Quicksand';
}

.graph {
  width: 90vw;
  margin-left: 8%;
  margin-top: 10px;
}

@keyframes fadein {
  from { opacity: 0; };
  to   { opacity: 1; };
}

