.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  animation: fadein 1s;
  /* overflow-x: hidden; */
}

.title {
  margin-left: 4%;
  margin-top: 1%;
  width: 90vw;
  text-align: center;
  font-size: 4em;
  font-family: Roboto;
}

.graph {
  position: relative;
  width: 90vw;  
  margin-top: 3%;
}

@keyframes fadein {
  from { opacity: 0; };
  to   { opacity: 1; };
}

